# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/

# OS
.DS_Store
Thumbs.db


media/
*.pub
id_ed25519
id_rsa


.claude/

.claude/

.claude/
